@using HelpfulHive.Models;
@using HelpfulHive.ViewModels
@using HelpfulHive.Services
@inject RecordViewModel RecordVM
@inject ImageService ImageService




@if (IsVisible)
{
    <div class="add-record-modal" tabindex="-1" style="display:block!important;" >
        <div class="modal-dialog">
            <div class="add-record-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Record</h5>
                </div>
                <div class="modal-body">
                    <input @bind="NewRecordTitle" type="text" class="form-control" placeholder="Record Title" />
                    <textarea @bind="NewRecordContent" class="form-control mt-3" placeholder="Record Content"></textarea>
                    @if (AvailableSubTabs == null)
                    {
                        <p>Loading tabs...</p>
                    }
                    else if (!AvailableSubTabs.Any())
                    {
                        <p>No tabs available.</p>
                    }
                    else
                    {
                        <select @bind="SelectedSubTabId" class="form-control mt-3">
                            @foreach (var subTab in AvailableSubTabs)
                            {
                                <option value="@subTab.Id">@subTab.Name</option>
                            }
                        </select>
                    }
                    @if (AvailableImages != null && AvailableImages.Any())
                    {
                        <div class="image-grid">
                            @foreach (var image in AvailableImages)
                            {
                                <div @onclick="() => SelectImage(image)" class="image-container">
                                    <img src="@($"images/{image}")" alt="@image" class="image-thumbnail" />
                                    <div class="image-title">@image</div>
                                </div>
                            }
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(SelectedImage))
                    {
                        <div class="selected-image-container">
                            <h5>Selected Image:</h5>
                            <img src="@($"images/{SelectedImage}")" alt="Selected Image" class="selected-image" />
                        </div>
                    }

                </div>
                <div class="modal-footer">
                    <button @onclick="Close" class="btn btn-secondary">Cancel</button>
                    <button @onclick="AddRecord" class="btn btn-primary">Add Record</button>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public EventCallback<RecordModel> OnRecordAdded { get; set; }
    [Parameter] public IEnumerable<TabItem> AvailableSubTabs { get; set; } = new List<TabItem>();
    [Parameter] public EventCallback OnCloseDialog { get; set; }
    [Parameter] public TabItem SelectedTab { get; set; }

    private List<string> AvailableImages { get; set; } = new List<string>();
    private string SelectedImage { get; set; }
    private string NewRecordTitle { get; set; } = string.Empty;
    private string NewRecordContent { get; set; } = string.Empty;
    private int SelectedSubTabId { get; set; }

    protected override void OnInitialized()
    {
        AvailableImages = ImageService.GetImageNames();
    }

    private async Task Close()
    {
        IsVisible = false;  // Добавьте эту строку
        await IsVisibleChanged.InvokeAsync(false);
        await OnCloseDialog.InvokeAsync(); // Это событие должно вызываться
        await InvokeAsync(StateHasChanged);
    }

    private void SelectImage(string imageName)
    {
        SelectedImage = imageName;
    }

    private async Task AddRecord()
    {
        var newRecord = new RecordModel
            {
                Title = NewRecordTitle,
                Content = NewRecordContent,
                SubTabId = SelectedSubTabId, 
                ImagePath = SelectedImage
            };

        await RecordVM.AddRecordAsync(newRecord);
        await OnRecordAdded.InvokeAsync(newRecord);

        // Очистка полей формы, если диалог остается открытым.
        NewRecordTitle = string.Empty;
        NewRecordContent = string.Empty;
        await Close(); // 
    }
}
