@page "/xml-display"
@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages
@using System.Xml.Linq   
@using System.Text.RegularExpressions;

@inject IJSRuntime JSRuntime


<div class="xml-tabs">
    <!-- Верхние табы для XML документов -->
    <ul class="nav nav-pills mb-3" id="xmlTabList" role="tablist">
        @foreach (var tab in xmlTabs)
        {
            var tabId = $"xmlTab{tab.Id}";
            <li class="nav-item">
                <a class="nav-link @(tab.IsActive ? "active" : "")" id="@tabId-tab" @onclick="() => SetActiveTab(tab)" role="tab" aria-controls="@tabId" aria-selected="true">@tab.Name</a>
            </li>
        }
        <li class="nav-item">
            <button class="btn btn-primary" @onclick="AddTab">+</button>
        </li>
    </ul>

    <!-- Содержимое табов для XML документов -->
    <div class="tab-content" id="xmlTabContent">
        @foreach (var tab in xmlTabs)
        {
            var tabId = $"xmlTab{tab.Id}";
            <div class="tab-pane fade @(tab.IsActive ? "show active" : "")" id="@tabId" role="tabpanel" aria-labelledby="@tabId-tab">
                <div class="row">
                    @if (tab.IsSplit)
                    {
                        <div class="col-md-6">
                            <StandaloneCodeEditor @ref="tab.SendEditorRef" id="@($"xmlTab{tab.Id}-sendEditor")" ConstructionOptions="EditorConstructionOptions" />
                        </div>
                        <div class="col-md-6">
                            <StandaloneCodeEditor @ref="tab.CheckEditorRef" id="@($"xmlTab{tab.Id}-checkEditor")" ConstructionOptions="EditorConstructionOptions" />
                        </div>

                    }
                    else
                    {
                        <div class="col-md-12">
                            <StandaloneCodeEditor @ref="tab.UniversalEditorRef" id="@($"xmlTab{tab.Id}-universalEditor")" ConstructionOptions="EditorConstructionOptions" />
                        </div>
                    }
                </div>
                <button @onclick="() => FormatXml(tab)">Format XML</button>
            </div>
        }
    </div>
</div>

@code {
    private List<XmlTab> xmlTabs = new List<XmlTab>
{
    new XmlTab { Id = 1, Name = "Tab 1", IsActive = true }
};

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
            {
                Value = "",
                Language = "xml",
                Theme = "vs-white",
                ReadOnly = false,
                FontSize = 20

            };
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Удаление проверки firstRender
        foreach (var tab in xmlTabs)
        {
            var editorId = tab.IsSplit ? $"xmlTab{tab.Id}-sendEditor" : $"xmlTab{tab.Id}-universalEditor";
            await JSRuntime.InvokeVoidAsync("editorFunctions.handlePaste", DotNetObjectReference.Create(this), editorId);

            if (tab.IsSplit)
            {
                var checkEditorId = $"xmlTab{tab.Id}-checkEditor";
                await JSRuntime.InvokeVoidAsync("editorFunctions.handlePaste", DotNetObjectReference.Create(this), checkEditorId);
            }
        }
    }



    [JSInvokable]
    public async Task HandlePaste(string editorId, string pastedText)
    {
        var currentTab = xmlTabs.FirstOrDefault(t => t.IsActive);
        if (currentTab != null)
        {
            if (editorId.EndsWith("-sendEditor") || (!currentTab.IsSplit && editorId.EndsWith("-universalEditor")))
                await currentTab.SendEditorRef.SetValue(pastedText);
            else if (editorId.EndsWith("-checkEditor"))
                await currentTab.CheckEditorRef.SetValue(pastedText);

            // Вызов FormatXmlOnPasteUniversal для дополнительной обработки
            await FormatXmlOnPasteUniversal(currentTab.UniversalEditorRef, currentTab.SendEditorRef, currentTab.CheckEditorRef);
        }
    }





    private async Task FormatXmlOnPasteUniversal(StandaloneCodeEditor editor, StandaloneCodeEditor sendEditor, StandaloneCodeEditor checkEditor)
    {
        // Получение значения из буфера обмена или редактора
        string xml = await editor.GetValue();


        // Разделение XML документов
        List<string> sendDocuments = new List<string>();
        List<string> checkDocuments = new List<string>();

        // Разделение входных данных на отдельные документы
        string[] documents = Regex.Split(xml, @"(?=<\?xml[^>]*\?>\s*<Send)|(?=<\?xml[^>]*\?>\s*<Check)|(?=<Send)|(?=<Check)");
        foreach (var doc in documents)
        {
            var trimmedDoc = doc.Trim();

            if (trimmedDoc.StartsWith("<Send"))
            {
                sendDocuments.Add(trimmedDoc);
            }
            else if (trimmedDoc.StartsWith("<Check"))
            {
                checkDocuments.Add(trimmedDoc);
            }
        }

        var currentTab = xmlTabs.FirstOrDefault(t => t.IsActive);
        if (currentTab != null)
        {
            if (sendDocuments.Any() && checkDocuments.Any())
            {
                currentTab.IsSplit = true;
            }
            else
            {
                currentTab.IsSplit = false;
            }

            StateHasChanged();

            string formattedXml = FormatXmlString(xml);
            await editor.SetValue(formattedXml);

            if (currentTab.IsSplit)
            {
                string sendXml = string.Join("\n", sendDocuments);
                string checkXml = string.Join("\n", checkDocuments);
                string formattedSendXml = FormatXmlString(sendXml);
                string formattedCheckXml = FormatXmlString(checkXml);
                await currentTab.SendEditorRef.SetValue(formattedSendXml);
                await currentTab.CheckEditorRef.SetValue(formattedCheckXml);
            }
        }
    }





    private string FormatXmlString(string xml)
    {
        try
        {
            var xDoc = XDocument.Parse(xml);
            return xDoc.ToString();
        }
        catch (Exception ex)
        {
            return xml;
        }
    }



    private async Task FormatXml(XmlTab tab)
    {
        try
        {
            string sendXml = await tab.SendEditorRef.GetValue();
            var sendDoc = XDocument.Parse(sendXml);
            string formattedSendXml = sendDoc.ToString();
            await tab.SendEditorRef.SetValue(formattedSendXml);

            string checkXml = await tab.CheckEditorRef.GetValue();
            var checkDoc = XDocument.Parse(checkXml);
            string formattedCheckXml = checkDoc.ToString();
            await tab.CheckEditorRef.SetValue(formattedCheckXml);
        }
        catch (Exception ex)
        {
        }
    }



    private void AddTab()
    {
        var newTab = new XmlTab
            {
                Id = xmlTabs.Max(t => t.Id) + 1,
                Name = $"Tab {xmlTabs.Count + 1}",
                IsActive = true
            };

        xmlTabs.ForEach(t => t.IsActive = false);
        xmlTabs.Add(newTab);
    }

    private void SetActiveTab(XmlTab activeTab)
    {
        xmlTabs.ForEach(t => t.IsActive = false);
        activeTab.IsActive = true;
    }

    private class XmlTab
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool IsActive { get; set; }
        public bool IsSplit { get; set; }
        public StandaloneCodeEditor SendEditorRef = new StandaloneCodeEditor();
        public StandaloneCodeEditor CheckEditorRef = new StandaloneCodeEditor();
        public StandaloneCodeEditor UniversalEditorRef = new StandaloneCodeEditor();
    }


}